.card {
  margin-bottom: 16px;
}

  .line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

    .label:first-letter {
      text-transform: capitalize;
    }

    .label:after {
      content: ':';
      margin-right: 8px;
    }
